body {
    font-family: 'Special Elite', cursive;
    background: #bcf3ef;
}

.header_div {
    background: rgb(165, 223, 233);
    color: #0300ce;
}

.header_div p {
    font-family: 'Roboto', sans-serif;
    color: gb(23, 4, 92)r;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button {
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer {
    position: fixed;
    color: rgb(23, 4, 92);
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: #00e1ff;
    line-height:3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(15, 3, 58);
}

.header {
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: #0044ff;
    line-height:3;
    text-align: center;
}